[submodule "bundle/ScrollColors"]
	path = bundle/ScrollColors
	url = git://github.com/vim-scripts/ScrollColors.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/SingleCompile"]
	path = bundle/SingleCompile
	url = git://github.com/xuhdev/SingleCompile.git
[submodule "bundle/cpp11"]
	path = bundle/cpp11
	url = git://github.com/vim-scripts/Cpp11-Syntax-Support.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git://github.com/rafiks/clang_complete.git
[submodule "bundle/vimprj"]
	path = bundle/vimprj
	url = git://github.com/rafiks/vimprj.git
[submodule "bundle/dfrank_util"]
	path = bundle/dfrank_util
	url = git://github.com/rafiks/dfrank_util.git
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = git://github.com/rafiks/bufkill.git
[submodule "bundle/cSyntaxAfter"]
	path = bundle/cSyntaxAfter
	url = git://github.com/rafiks/cSyntaxAfter.git
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = git://github.com/rafiks/rainbow.git
